<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<style>
body{font-family:Segoe UI;background:#fefce8;padding:40px}
.card{max-width:400px;margin:auto;background:white;padding:30px;border-radius:25px}
input,button{width:100%;padding:14px;margin-top:12px;border-radius:20px}
button{background:#facc15;border:none}
</style>
</head>
<body>

<div class="card">
<h2>Login</h2>
<input placeholder="Username">
<input type="password" placeholder="Password">
<button>Login</button>
<a href="forgot.html">Forgot Password?</a>
</div>

</body>
</html>
