{% extends "auth_base.html" %}
{% block title %}Register | GSSC{% endblock %}

{% block content %}
<div class="auth-card">

  <h3 class="text-center mb-2">☀ Create Account</h3>
  <p class="text-center text-secondary mb-4">
    Start your solar journey with GSSC
  </p>

  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <input type="text" name="username" class="form-control" placeholder="Username" required>
    </div>

    <div class="mb-3">
      <input type="email" name="email" class="form-control" placeholder="Email" required>
    </div>

    <div class="mb-3">
      <input type="password" name="password1" class="form-control" placeholder="Password" required>
    </div>

    <div class="mb-4">
      <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
    </div>

    <button class="btn btn-solar w-100">Register</button>
  </form>

  <p class="text-center mt-4">
    Already have an account?
    <a href="{% url 'login' %}" class="auth-link">Login</a>
  </p>

</div>
{% endblock %}
